
.menu:hover
{
    -fx-background-color: #A1C1F4;
}
.menu:pressed
{
    -fx-background-color: #73A3EF;
}

.side:hover{
    -fx-background-color: #48cff8;
    -fx-border-color: white;

}
.side:hover{
    -fx-background-color: #73A3EF;
    -fx-border-color: white;

}